<div class="container mx-auto my-16">
    <div class="grid grid-cols-2 gap-5">

        <div class=" m-10 shadow-lg border-2 border-gray-900">
            <img class="w-full  object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0VKePKgz1SBLb06NB8OKxq1w4QrB21di_iQ&s">      
            <h3 class="text-xl font-bold m-1 p-3">Instagram</h3>
            <div class="grid grid-cols-3 gap-3 mx-1 p-2">
                <div class="col-span-2 p-2 bg-blue-200  text-blue-900 rounded-lg text-sm">https://www.instagram.com</div>
            </div>
        </div>

        <div class="p-10 m-10 border-4 border-gray-900">
            <h2 class="text-3xl text-center">Add New Credentials</h2>
            <p class="text-center">You can add a new user and password here</p>
            <form action="">
                <div class="flex flex-col">
                    <label for="" class="text-lg font-medium mb-2">E-Mail</label>
                    <input type="email" name="email" class="border-2 border-gray-900 p-2 rounded-lg">
                </div>
                <div class="flex flex-col">
                    <label for="" class="text-lg font-medium mb-2">Username</label>
                    <input type="text" name="username" class="border-2 border-gray-900 p-2 rounded-lg">
                </div>
                <div class="flex flex-col">
                    <label for="" class="text-lg font-medium mb-2">Password</label>
                    <input type="password" name="password" class="border-2 border-gray-900 p-2 rounded-lg">
                </div>

                <button class="mt-10 p-5 text-sm bg-gray-800 text-white shadow-md rounded-md"> 
                    Add New Password
                </button>
            </form>
        </div>
    </div>

    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 p-3">
                        E-Mail
                    </th>
                    <th class="border-2 border-gray-900 p-3">
                        Username
                    </th>
                    <th class="border-2 border-gray-900 p-3">
                        Password
                    </th>
                    <th class="border-2 border-gray-900 p-3">
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="h-14">
                    <td class="border-2 border-gray-900 p-3">
                        utsavjaiswal2004&#64;gmail.com
                    </td>
                    <td class="border-2 border-gray-900 p-3">
                        utsavjaiswal.exe
                    </td>
                    <td class="border-2 border-gray-900 p-3">
                        terobaje
                    </td>
                    <td class="border-2 border-gray-900 p-3">
                        <button class="p-2 mr-5 rounded-lg shadow-md bg-teal-200 text-gray-800 text-sm">
                            Edit
                        </button>
                        <button class="p-2 rounded-lg shadow-md text-teal-200 bg-gray-800 text-sm">
                            Delete
                        </button>
                        
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>
