<div class="container mx-auto my-16">
    <h1 class="text-4xl mt-1 font-mono font-semibold">Welcome to PassTheSalt</h1>
    <p class="font-light mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed temporibus sint unde sapiente quia doloribus vero odit similique, dolorem alias dolorum et soluta, voluptatum, corrupti nemo quasi deserunt? Assumenda, cum.</p>
    <button class=" text-white bg-slate-800 p-2 m-2 rounded-md shadow-md">Add New Site </button>

    <!-- alert message -->
    @if (successfulOperation){
        <div class="p-5 m-3 bg-teal-100 text-teal-900 rounded-lg">
            {{successMessage}}
        </div>
    }


    <!-- new site form -->
    <div class="p-4 m-5 border-4 border-gray-900">
        <h2 class="text-3xl text-center">{{ formState }} site</h2>
        <p class="text-center">Enter the details for your new site</p>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <div class="flex flex-col">
                <label for="site-name" class="text-lg font-medium mb-2">Site Name</label>
                <input [(ngModel)]="siteName" type="text" name="siteName" class="border-2 border-gray-600 p-2 rounded-lg w-full">
            </div>
            <div class="flex flex-col">
                <label for="site-url" class="text-lg font-medium mb-2">Site URL</label>
                <input [(ngModel)]="siteURL" type="text" name="siteURL" class="border-2 border-gray-600 p-2 rounded-lg w-full">
            </div>
            <div class="flex flex-col">
                <label for="site-image" class="text-lg font-medium mb-2">Site Image</label>
                <input [(ngModel)]="siteImageURL" type="text" name="siteImageURL" class="border-2 border-gray-600 p-2 rounded-lg w-full">
            </div>
            <button class="mt-5 text-sm p-2 bg-gray-800 text-white shadow rounded-md">
                {{formState}} Site
            </button>
            <button class="mt-5 mx-3 text-sm p-2 border border-gray-800 shadow rounded-md">
                Cancel
            </button>
        </form>
    </div>

    <div class="grid grid-cols-4 gap-5">
        <div *ngFor="let site of allSites | async" class="shadow-lg border-2 border-gray-900">
            <img [src]="site.siteImageURL" alt="Instagram logo">
            <h3 class="pt-1 px-3 text-xl font-bold">{{ site.siteName }}</h3>
            <div class="w-60 mx-3 px-3 py-1 bg-blue-300 text-blue-700 rounded-lg text-sm">{{site.siteURL}}</div>
            <button class="bg-black border-black border-2 text-white m-2 p-2 text-sm rounded-sm">
                Add new password
            </button>
            <button (click)="editSite(site.siteName, site.siteURL, site.siteImageURL, site.id)" class="border-black border-2 mx-1 p-2 text-sm rounded-sm" >
                Edit
            </button>
            <button (click)="deleteSite(site.id)" class="border-black border-2 mx-1 p-2 text-sm rounded-sm">
                Delete
            </button>
        </div>

    </div>
</div>